@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    @apply from-slate-900;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    rgb(214 211 209)
} */

@layer utilities {
  .dot-pattern {
    background: white;
    background-image: radial-gradient(rgb(195, 188, 183) 1px, transparent 0);
    background-size: 24px 24px;
    background-position: -11px -11px;
  }
}

:root {
  --dot-bg: white;
  --dot-color: black;
  --dot-size: 1px;
  --dot-space: 22px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
